<article class="card md:grid-cols-6">
  <div class="card-date md:col-span1">
    <p class="text-left md:text-right tracking-tight text-zinc-600 text-sm font-semibold">{{ .Params.run_date }}</p>
  </div>
  <div class="card-content md:col-span-5">
    <h3 class="mb-0.5 text-lg font-bold tracking-normal text-zinc-800">
      {{ if .Params.course_url }}
      <a href="{{ .Params.course_url }}" target="_blank" rel="noopener" class="a-hov">{{ .Title }}</a>
      {{ else }} {{ .Title }} {{ end }}
    </h3>
    <p class=" text-sm tracking-tight text-zinc-600">
      {{ .Params.role }} at {{ if .Params.venue_url }}
      <a href="{{ .Params.venue_url }}" target="_blank" rel="noopener" class="a-hov">
        {{.Params.venue}}
      </a>
      {{ else }}
      {{.Params.venue}}
      {{ end }}
    </p>
  </div>
</article>