<article class="card">
  <div class="card-date">
    <p>{{ .Params.date.Format "Jan 2006" }}</p>
  </div>
  <div class="card-content">
    <h3 class="card-title">
      {{ if .Params.course_url }}
        <a href="{{ .Params.course_url }}" target="_blank" rel="noopener" class="a-hov">{{ .Title }}</a>
      {{ else }}
        {{ .Title }}
      {{ end }}
    </h3>
    <p class="card-subtitle">{{ .Params.project_type }}</p>
    {{ if .Params.venue }}
      <p class="card-meta">
        {{ if .Params.venue_url }}
          <a href="{{ .Params.venue_url }}" target="_blank" rel="noopener" class="a-hov">{{ .Params.venue }}</a>
        {{ else }}
          {{ .Params.venue }}
        {{ end }}
      </p>
    {{ end }}
  </div>
</article>