<section>
  <div class="container max-w-3xl">


  <h2 class="section-heading">Upcoming Talks</h2>
  {{ $hasUpcoming := false }}
  {{ range .Pages.ByDate }}
    {{ $date := time .Params.event_date }}
    {{ if $date.After (time.Now.AddDate 0 0 -1) }}
      {{ $hasUpcoming = true }}
      {{ partial "events/event.html" . }}
    {{ end }}
  {{ end }}
  {{ if not $hasUpcoming }}
    <p class="font-cabin text-sm italic text-stone-500">No talks planned at the moment. Stay tuned.</p>
  {{ end }}

  <h2 class="section-heading mt-8">Past Talks</h2>
  {{ range .Pages.ByDate.Reverse }}
    {{ $date := time .Params.event_date }}
    {{ if $date.Before time.Now }}
      {{ partial "events/prev-event.html" . }}
    {{ end }}
  {{ end }}

  </div>
</section>