{{ partial "head.html" . }}

<body class="bg-stone-50 scroll-smooth focus:scroll-auto">
    {{ partial "nav.html" . }}
    <main class="max-w-screen-lg px-4 py-8 mx-auto">
        <article>
            <header class="mx-auto text-center">
                <h1 class="page-title text-center">{{.Title}}</h1>
                <p class="text-sm text-gray-600 mt-2">
                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                </p>
            </header>
            <section class="prose mx-auto items-center font-cabin mt-8">
                {{ .Content }}
            </section>
        </article>
        {{ partial "footer.html" . }}
    </main>

    {{ partial "js.html" . }}
</body>

</html>
