<section>
  <div class="container max-w-3xl">

  <h2 class="section-heading">Pre-prints</h2>
  {{ $hasPreprints := false }}
  {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.publication_type 3 }}
      {{ $hasPreprints = true }}
      {{ partial "elements/pub-card.html" . }}
    {{ end }}
  {{ end }}
  {{ if not $hasPreprints }}
    <p class="font-cabin text-sm italic text-stone-500">Working on new projects. Stay tuned!</p>
  {{ end }}

  <h2 class="section-heading mt-8">Published</h2>
  {{ $hasPublished := false }}
  {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.publication_type 1 }}
      {{ $hasPublished = true }}
      {{ partial "elements/pub-card.html" . }}
    {{ end }}
  {{ end }}
  {{ if not $hasPublished }}
    <p class="font-cabin text-sm italic text-stone-500">No publications yet.</p>
  {{ end }}

  <h2 class="section-heading mt-8">Software</h2>
  {{ $hasSoftware := false }}
  {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.publication_type 4 }}
      {{ $hasSoftware = true }}
      {{ partial "elements/pub-card.html" . }}
    {{ end }}
  {{ end }}
  {{ if not $hasSoftware }}
    <p class="font-cabin text-sm italic text-stone-500">No software yet.</p>
  {{ end }}

  <h2 class="section-heading mt-8">Theses</h2>
  {{ $hasTheses := false }}
  {{ range .Pages.ByDate.Reverse }}
    {{ if eq .Params.publication_type 2 }}
      {{ $hasTheses = true }}
      {{ partial "elements/pub-card.html" . }}
    {{ end }}
  {{ end }}
  {{ if not $hasTheses }}
    <p class="font-cabin text-sm italic text-stone-500">No theses yet.</p>
  {{ end }}
</div>
</section>