{{if .Params.highlight}}
  <article class="card bg-slate-50 shadow-md">
{{else}}
  <article class="card">
{{end}}
  <div class="card-date">
    <time datetime="{{ .Params.publishDate.Format "2006-01" }}" class="text-center tracking-tight text-gray-700 text-sm font-semibold">{{ .Params.publishDate.Format "Jan 2006" }}</time>
  </div>
  <div class="card-content">
    <h3 class="mb-1 md:mb-1.5 text-lg font-bold tracking-normal text-gray-950">
      {{ if .Params.pub_link }}
        <a href="{{ .Params.pub_link }}" target="_blank" rel="noopener" class="a-hov">{{ .Title }}</a>
      {{ else }} 
        {{ .Title }}
      {{ end }}
    </h3>
   <!-- <p class="authors">{{ .Params.authors }}</p> -->
   <p class=" text-sm tracking-tight text-gray-700">
    {{if .Params.authors}}
    {{ $len := len .Params.authors }}
    {{ range $index, $element := .Params.authors }}
      {{ if eq $element "Germans Savcisens" }}
        <strong class="font-bold">{{ $element }}</strong>
      {{ else }}
        {{ $element }}
      {{ end }}
      {{ if ne (add $index 1) $len }},{{ end }}
    {{ end }}
    {{end}}
   </p>
    <p class="text-sm tracking-tight font-semibold text-gray-500 pt-1">{{ .Params.venue }}</p>
    <p class="mt-1 md:mt-1.5">
      {{if .Params.misc}} {{range .Params.misc}}
      <a
      href="{{ .link }}"
      class="inline-block px-2 py-1.5 text-xs font-semibold border hover:border-gray-200 rounded-full 
      hover:bg-clip-text hover:text-transparent bg-gradient-to-tr from-blue-500 to-pink-500
      transition-all duration-200
      bg-clip-border text-white hover:shadow-sm"
      target="_blank"
      rel="noopener"
      aria-label="{{.name}} for {{ $.Title }}"
    >
    {{.name}}</a>

    
      {{end}} {{end}}
    {{if .Params.allow_fact}}
    <button data-popover-target="{{ printf `popover-default-%s` .Params.fact_id }}" type="button" class="inline-block px-2 py-1.5 text-xs font-semibold border border-gray-200 rounded-full 
    bg-clip-text text-transparent bg-gradient-to-bl from-blue-500 to-pink-500
    transition-all duration-200
    hover:shadow-md" aria-label="Show random information about this publication">Random Info</button>
      <div data-popover id="{{ printf `popover-default-%s` .Params.fact_id }}" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-lg opacity-0">
        <div class="px-3 py-2 bg-gradient-to-tr   from-blue-500 to-pink-500 border-b border-gray-200 rounded-t-lg">
            <h4 class="font-semibold text-white">Random Facts</h4>
        </div>
        <div class="px-3 py-2  pt-0.5">
            <p>    {{.Content}}
            </p>
        </div>
        <div data-popper-arrow></div>
    </div>
    {{end}}
    </p>
  </div>
</article>
