{{- if and (eq .Section "blog") (not .IsHome) (not .IsNode) -}}

{{- /* Build sameAs array from config */ -}}
{{- $sameAs := slice -}}
{{- with .Site.Params.structuredData.orcid -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.structuredData.googleScholar -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.social.linkedin -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.social.github -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}

{{- /* Organization */ -}}
{{- $org := dict
  "@type" "Organization"
  "@id" (printf "%s#organization" (.Site.BaseURL | absURL))
  "name" (.Site.Title | default "Personal Blog")
  "url" (.Site.BaseURL | absURL)
-}}

{{- /* Person (author) */ -}}
{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" (.Site.BaseURL | absURL))
  "name" .Site.Params.author
  "url" (.Site.BaseURL | absURL)
  "sameAs" $sameAs
  "jobTitle" (.Site.Params.structuredData.jobTitle | default "Researcher")
-}}

{{- with .Site.Params.structuredData.affiliation -}}
  {{- $person = merge $person (dict "affiliation" (dict "@type" "Organization" "name" .)) -}}
{{- end -}}

{{- /* Keywords */ -}}
{{- $keywords := slice -}}
{{- if .Params.keywords -}}
  {{- if reflect.IsSlice .Params.keywords -}}
    {{- range .Params.keywords -}}
      {{- $keywords = $keywords | append . -}}
    {{- end -}}
  {{- else -}}
    {{- range (split .Params.keywords ",") -}}
      {{- $keywords = $keywords | append (trim . " ") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if .Params.tags -}}
  {{- range .Params.tags -}}
    {{- $keywords = $keywords | append . -}}
  {{- end -}}
{{- end -}}

{{- /* Image precedence: 1. Params.image 2. Params.images[0] 3. Site twitterCardImage 4. Default avatar */ -}}
{{- $image := "" -}}
{{- if .Params.image -}}
  {{- $image = .Params.image | absURL -}}
{{- else if .Params.images -}}
  {{- $image = index .Params.images 0 | absURL -}}
{{- else if .Site.Params.twitterCardImage -}}
  {{- $image = .Site.Params.twitterCardImage | absURL -}}
{{- else -}}
  {{- $image = "/images/avatar.jpg" | absURL -}}
{{- end -}}

{{- /* BlogPosting */ -}}
{{- $blogPosting := dict
  "@type" "BlogPosting"
  "@id" .Permalink
  "headline" .Title
  "name" .Title
  "description" (cond (and (isset .Params "description") (ne .Params.description "")) .Params.description (.Summary | plainify))
  "author" (dict "@id" (printf "%s#person" (.Site.BaseURL | absURL)))
  "publisher" (dict "@id" (printf "%s#organization" (.Site.BaseURL | absURL)))
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "image" (dict "@type" "ImageObject" "url" $image "width" 1200 "height" 627)
  "url" .Permalink
  "inLanguage" (.Site.LanguageCode | default "en-us")
  "wordCount" .WordCount
  "isPartOf" (dict "@type" "Blog" "@id" (printf "%sblog/" .Site.BaseURL | absURL) "name" "Blog")
-}}

{{- if .Params.subtitle -}}
  {{- $blogPosting = merge $blogPosting (dict "alternativeHeadline" .Params.subtitle) -}}
{{- end -}}

{{- if gt (len $keywords) 0 -}}
  {{- $blogPosting = merge $blogPosting (dict "keywords" $keywords) -}}
{{- end -}}

{{- /* Breadcrumbs */ -}}
{{- $breadcrumbs := dict
  "@type" "BreadcrumbList"
  "@id" (printf "%s#breadcrumb" .Permalink)
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" (.Site.BaseURL | absURL))
    (dict "@type" "ListItem" "position" 2 "name" "Blog" "item" (printf "%sblog/" .Site.BaseURL | absURL))
    (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  )
-}}

{{- /* Final graph */ -}}
{{- $schema := dict "@context" "https://schema.org" "@graph" (slice $person $org $blogPosting $breadcrumbs) -}}

<script type="application/ld+json">
  {{- $schema | jsonify | safeJS -}}
</script>

{{- end -}}
