{{ if and (eq .Section "blog") (not .IsHome) (not .IsNode) }}
{{ $sameAsLinks := slice }}
{{ $org := dict
  "@type" "Organization"
  "@id" (printf "%s#org" (.Site.BaseURL | absURL))
  "name" (.Site.Title | default "Personal Blog")
  "url" (.Site.BaseURL | absURL)
}}
{{ with .Site.Params.structuredData.orcid }}
  {{ $sameAsLinks = $sameAsLinks | append . }}
{{ end }}
{{ with .Site.Params.structuredData.googleScholar }}
  {{ $sameAsLinks = $sameAsLinks | append . }}
{{ end }}
{{ with .Site.Params.social.linkedin }}
  {{ $sameAsLinks = $sameAsLinks | append . }}
{{ end }}
{{ $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" (.Site.BaseURL | absURL))
  "name" .Site.Params.author
  "url" (.Site.BaseURL | absURL)
  "sameAs" $sameAsLinks
  "jobTitle" (.Site.Params.structuredData.jobTitle | default "Researcher")
}}
{{ with .Site.Params.structuredData.affiliation }}
  {{ $person = merge $person (dict
    "affiliation" (dict "@type" "Organization" "name" .)
  ) }}
{{ end }}
{{ $keywords := slice }}
{{ if .Params.keywords }}
  {{ if reflect.IsSlice .Params.keywords }}
    {{ range .Params.keywords }}
      {{ $keywords = $keywords | append . }}
    {{ end }}
  {{ else }}
    {{ range (split .Params.keywords ",") }}
      {{ $keywords = $keywords | append (trim . " ") }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if .Params.tags }}
  {{ range .Params.tags }}
    {{ $keywords = $keywords | append . }}
  {{ end }}
{{ end }}
{{ $image := "" }}
{{ if .Params.images }}
  {{ $image = index .Params.images 0 | absURL }}
{{ else if .Site.Params.twitterCardImage }}
  {{ $image = .Site.Params.twitterCardImage | absURL }}
{{ else }}
  {{ $image = printf "%simages/avatar.jpg" .Site.BaseURL }}
{{ end }}
{{ $blogPosting := dict
  "@type" "BlogPosting"
  "headline" .Title
  "alternativeHeadline" .Params.subtitle
  "description" (cond (and (isset .Params "description") (ne .Params.description "")) .Params.description (.Summary | plainify))
  "author" (dict "@id" (printf "%s#person" (.Site.BaseURL | absURL)))
  "publisher" (dict "@id" (printf "%s#org" (.Site.BaseURL | absURL)))
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "image" (slice $image)
  "url" .Permalink
  "inLanguage" (.Site.LanguageCode | default "en-us")
  "wordCount" .WordCount
  "isPartOf" (dict
  "@type" "Blog"
  "@id" (printf "%s#blog" (.Site.BaseURL | absURL))
)
}}
{{ if gt (len $keywords) 0 }}
  {{ $blogPosting = merge $blogPosting (dict "keywords" $keywords) }}
{{ end }}
{{ $breadcrumbList := dict
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" (.Site.BaseURL | absURL))
    (dict "@type" "ListItem" "position" 2 "name" "Blog" "item" (printf "%sblog/" .Site.BaseURL | absURL))
    (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  )
}}
{{ $schema := dict
  "@context" "https://schema.org"
  "@graph" (slice $person $org $blogPosting $breadcrumbList)
}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
{{ end }}
