<section id="wrapper" class="home">
    <div class="container">
    <h3>Upcomming Talks</h3>
    {{ range sort .Pages.ByDate}}
        {{$date := time .Params.event_date}}
        {{$today := time.Now.AddDate 0 0 -1}}
        {{ if $date.After $today }}
            {{partial "event.html" .}}
        {{end}}
    {{ end }}


    <h3>Previous Talks</h3>
    {{ range sort .Pages.ByDate.Reverse}}
        {{$date := time .Params.event_date}}
        {{$today := time.Now}}
        {{ if $date.Before $today }}
            {{partial "event.html" .}}
        {{end}}
    {{ end }}
    </div>
</section>
