{{$date := time .Params.event_date}}
{{$today := time.Now.AddDate 0 0 -1}}
<div class="row">
    <div class="col-sm-2">
        {{ $date.Format "Jan 2, 2006" }}
        {{ if .Params.online}}
            {{if eq .Params.online true}}
                <span class = "badge rounded-pill text-bg-success">Online</span>
            {{end}}
        {{ end }}
    </div>
    <div class="col-10 event-item">
        {{ if .Params.url }}
            <a href="https://{{ .Params.url }}" target="_blank">{{ .Title }}</a>
        {{ else }}
            {{ .Title }}
        {{ end }}
        <p> 
            {{ if .Params.venue_url }}
                <a href="https://{{ .Params.venue_url }}" target="_blank">{{ .Params.venue }}</a>
            {{ else }}
                {{ .Params.venue }}
            {{ end }}
            <br><small><i class="fas fa-map-marker-alt"></i> <i>{{ .Params.location }}</i></small>
        </p>
    </div>
</div>