<header class="items-center text-center flex flex-col mx-auto">
    <picture>
        <source srcset="
          {{ .Site.BaseURL }}images/avatar-192.webp 192w,
          {{ .Site.BaseURL }}images/avatar-384.webp 384w,
          {{ .Site.BaseURL }}images/avatar-442.webp 442w
        "
        sizes="
          (max-width: 640px) 192px, 
          (max-width: 768px) 384px, 
          442px
        "
        type="image/webp" 
        class="my-0 w-48 sm:w-36 md:w-48 lg:w-48 max-w-lg rounded-full mx-auto"
        aria-label="Profile Picture" >
        <img  
        class="my-0 w-48 sm:w-36 md:w-48 lg:w-48 max-w-lg rounded-full mx-auto"
        srcset="
          {{ .Site.BaseURL }}images/avatar-192.jpg 192w,
          {{ .Site.BaseURL }}images/avatar-384.jpg 384w,
          {{ .Site.BaseURL }}images/avatar-442.jpg 442w
        "
        sizes="
          (max-width: 640px) 192px, 
          (max-width: 768px) 384px, 
          442px
        "
        src="{{ .Site.BaseURL }}images/avatar-192.jpg"
        width="442"
        height="442"
        alt="Profile Picture"
        loading="lazy"
        aria-label="Profile Picture" />      
    </picture>

    <h1 class="text-2xl mt-4 font-bold font-cabin">
        {{ .Site.Params.Author }}
    </h1>
    <p class="text-base text-zinc-600 font-medium mb-2 font-cabin">
        {{ with .Site.Params.bio }}
        {{ . | markdownify }}
        {{ end }}
    </p>
    <span class="text-sm text-center font-cabin text-zinc-400">Germans Savčišens</br>
      Герман Савчiшен </br>
      Герман Савчишен </br> 
      <a
            href="http://ipa-reader.xyz/?text=%C9%A1%CA%B2%CB%88irm%C9%99n%20saft%CD%A1%20t%CD%A1%CA%83%CB%88i%CA%82%C9%9Bn&voice=Maxim"
            target="_blank" class="a-hov"> Ghe-r-men Saf-chi-shen <i class="fa-solid fa-volume-high"></i></a></span>
            
    {{partial "profile-links.html" .}}
    <div class="md text-left text-sm font-cabin text-zinc-400">
      <strong>Current Projects:</strong> </br>
      (1) Veracity and Truth Tracking in LLMs</br> (2) Chains, Trees, and Graphs-of-Thought</br>
        (3) Beliefs in LLM-Human Networks</br> (4) Foundation Models for Event Data
    </div>
    
</header>