<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "Person",
          "name": "Germans Savcisens",
          "alternateName": ["Germans Šavcišens", "Герман Савчишен"],
          "jobTitle": "Postdoctoral Associate Researcher",
          "description": "Germans Savcisens is a postdoctoral researcher at Northeastern University. His research focuses on enhancing the transparency and fairness of machine learning algorithms, such as those used in network science and natural language processing.",
          "url": "https://savcisens.com",
          "email": "mailto:germans@savcisens.com",
          "image": "https://savcisens.com/images/avatar.webp",
          "sameAs": [
            "https://scholar.google.com/citations?user=60I1M-oAAAAJ",
            "https://github.com/carlomarxdk",
            "https://bsky.app/profile/converge.bsky.social",
            "https://www.linkedin.com/in/germans-savcisens",
            "https://www.twitter.com/germansave",
            "https://www.khoury.northeastern.edu/people/germans-savcisens/"
          ],
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Boston",
            "addressRegion": "MA",
            "addressCountry": "USA"
          },
          "alumniOf": {
            "@type": "CollegeOrUniversity",
            "name": "Technical University of Denmark",
            "url": "https://www.dtu.dk/english"
          },
          "knowsAbout": [
            "Machine Learning",
            "Human Behavior Analysis",
            "Algorithmic Fairness",
            "Transformer Models",
            "life2vec",
            "Network Science"
          ],
          "knowsLanguage": [
            {
              "@type": "Language",
              "name": "English"
            },
            {
              "@type": "Language",
              "name": "Latvian"
            },
            {
              "@type": "Language",
              "name": "Russian"
            }
          ],
          "worksFor": [
            {
              "@type": "EducationalOrganization",
              "name": "Northeastern University",
              "url": "https://www.northeastern.edu"
            },
            {
              "@type": "EducationalOrganization",
              "name": "Network Science Institute",
              "url": "https://www.networkscienceinstitute.org/"
            }
          ]
        },
        {
          "@type": "WebSite",
          "url": "https://savcisens.com",
          "name": "Germans Savcisens Portfolio",
          "description": "Portfolio website of Dr. Germans Savcisens, featuring research projects, publications, and professional achievements in computational social science.",
          "publisher": {
            "@type": "Person",
            "name": "Germans Savcisens"
          }
        }
      ]
    }
</script>