<div id="social">
{{ if eq .Site.Params.iconFont "font-awesome" }}
	{{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}" aria-label="{{ $key }}" target="_blank" alt="view {{ $key }} profile">
        {{if eq $key "envelope"}}
            <i class="fa fa-{{ $key }}"></i>
        {{else}}
            <i class="fa-brands fa-{{ $key }}"></i>
        {{end}}
    </a>
    {{ end }}

{{ else }}
	
	{{ $iconStyle := .Site.Params.socialIconStyle }}
    {{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}" target="_blank">
        {{ $iconStyle }}{{ if eq $key "twitter" }}twitterbird{{ else }}{{ $key }}{{ end }}
    </a>
    {{ end }}

{{ end }}
</div>
