<div class="prose">

  <div class="mx-auto text-center md:text-left mt-0 pt-0">
    <h2 class="page-title my-1">About Me</h2>
  </div>
  <p class="md:text-justify">
    I am the Postoctoral Associate Researcher at the
    <a href="https://www.khoury.northeastern.edu/people/germans-savcisens/" target="_blank" class="a-hov">Khoury College
      of Computer Science</a> at <a href="https://www.northeastern.edu/" target="_blank" class="a-hov">Northeastern
      University</a>: I am a part of
    the <a href="https://eliassi.org/radlab.html" target="_blank" class="a-hov">Rad Lab</a> and
    <a href="https://www.networkscienceinstitute.org/" class="a-hov">Network Science Institute</a>.
    My research focuses on enhancing the <strong class="font-semibold">transparency and fairness</strong> of
    machine learning algorithms used in network science,
    with a particular interest in mitigating biases in algorithms that model <strong class="font-semibold">human
      behavior</strong> and <strong class="font-semibold">social
      interactions</strong>.
  </p>

  <p class="md:text-justify mb-1">
    I recieved my PhD in
    <a href="https://findit.dtu.dk/en/catalog/6675796ce1f9ed17d3fb1a5f" target="_blank" class="a-hov">Computational
      Social
      Science</a>
    from the
    <a href="https://www.compute.dtu.dk/english" target="_blank" class="a-hov">Technical University of Denmark</a>
    (<a href="https://github.com/SocialComplexityLab/ResearchGroup/wiki" target="_blank" class="a-hov">Social Complexity
      Lab</a>),
    where I focused on using <strong class="font-semibold">foundation models</strong> to
    study individual <strong class="font-semibold">socioeconomic and health trajectories</strong>
    (I am the first author of the <a href="http://life2vec.dk/" target="_blank" class="a-hov">life2vec paper</a>).
  </p>
  {{ partial "background.html" . }}
  <p class="md:text-justify mb-1 italic">
    I was born and raised in Latvia, where I spent the first 19 years of my life.
    I later moved to Copenhagen, Denmark, to pursue and complete my higher education. Currently, I am based in Boston,
    USA.

  </p>
  <!-- {{ partial "background.html" . }} -->

  <div class="text-left font-cabin">
    <h2 class="font-cabin">Current Projects</h2>
    <ul>
      <li class="mb-1">
        <b>Stability of beliefs</b> in LLM-Human Networks,
      </li>
      <li class="mb-1">
        Effects of co-authorship networks on <strong>faculty hiring decisions</strong>,
      </li>
      <li>
        Uncertainty quantification of node embeddings with <strong>conformal predictions</strong>.
      </li>
      {{ range $key, $val := .Site.Social }}
      {{if eq $key "file"}}

      <a href="{{ $val }}" class=" mt-2 inline-block px-3 py-2.5 text-sm font-semibold border border-gray-200 rounded-xl 
    bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500
    transition-all duration-200
    hover:bg-clip-border hover:text-white hover:shadow-sm hover:no-underline" target="_blank">
        Resume <i class="fa-solid fa-file"></i></a>
      {{end}}
      {{end}}
  </div>
</div>