<div class="prose">
  <div class="mx-auto text-center md:text-left [&_h2:first-child]:mt-0">
    <h2 class="page-title">About Me</h2>
  </div>
  <p class="md:text-justify">
  Hi, I'm Germans Savcisens — a Postdoctoral Research Associate at the <a href="https://www.khoury.northeastern.edu/people/germans-savcisens/" target="_blank" class="a-hov">Khoury College of Computer Science at Northeastern University</a>.
  I work at the intersection of network science, machine learning, and human behavior as part of the <a href="https://eliassi.org/radlab.html" target="_blank" class="a-hov">Rad Lab</a> and the <a href="https://www.networkscienceinstitute.org/" class="a-hov" target="_blank">Network Science Institute</a>.
  </p>
  <p class="md:text-justify">
  
  My research focuses on making machine learning models more transparent, secure, and better suited for understanding social and behavioral data.
  I enjoy thinking about how algorithms shape — and are shaped by — the complex networks we live in.
  </p>
  <p class="md:text-justify">
  Before coming to Boston, I earned my PhD in Computational Social Science from the <a href="https://www.compute.dtu.dk/english" target="_blank" class="a-hov">Technical University of Denmark</a>, working with the <a href="https://github.com/SocialComplexityLab/ResearchGroup/wiki" target="_blank" class="a-hov">Social Complexity Lab</a>.
  There, I explored how foundation models can help us understand individual life trajectories in socioeconomic and health domains, see <a href="http://life2vec.dk/" target="_blank" class="a-hov">life2vec paper</a>.
  </p>
  <!-- <p class="md:text-justify">
  I grew up in Latvia, where I spent the first 19 years of my life before moving to Copenhagen to continue my studies.
  Today, I call Boston home — but I still carry a bit of the Baltic spirit with me.
  </p> -->

</div>
