/* CSS Document */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2.1s;
    }

    .animation-delay-4000 {
        animation-delay: 4.3s;
    }
}
@layer components {
    .blurred-bg {
        @apply relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12
    }
    .page-title {
        @apply box-decoration-clone bg-gradient-to-l from-rose-400 via-fuchsia-500 to-indigo-500; 
        @apply text-white font-extrabold;
        @apply text-xl md:text-4xl;
        @apply inline-block px-2 py-2 mb-6;
        @apply font-funnel;
    }

    .sub-title {
        @apply text-lg font-funel-display font-semibold;
        @apply text-center py-2 mb-2;
    }

    .nav-item {
        /* @apply block py-2 px-3 text-white bg-indigo-400 rounded; */
        @apply md:bg-transparent md:text-slate-700 md:p-0 font-bold;
        @apply hover:bg-indigo-400 hover:text-white;
    }

    .a-hov {
        @apply decoration-dotted;
        @apply transition duration-300 ease-in-out;
    }
    .a-hov:hover {
        @apply hover:bg-indigo-400 hover:text-white;
    }

    .soc-symbol {
        @apply no-underline mx-0.5 text-zinc-500 hover:text-purple-500 text-2xl md:text-4xl;
        @apply transition duration-300 ease-in-out;
    }

    .rand-fact.a{
        @apply font-bold text-indigo-500;
    }
    .card {
        @apply grid md:grid-cols-7 gap-1 md:gap-6 border border-stone-200 shadow-sm hover:bg-stone-100 mb-4 py-3 transition-all duration-150;
        @apply font-cabin;
    }

    .card-date {
        @apply md:col-span-1 flex items-center md:justify-end px-2 md:px-0;
        @apply font-cabin;
    }

    .card-content {
        @apply md:col-span-6 px-2 md:px-3 md:border-l md:border-gray-200;
        @apply font-cabin;
    }
}