{{ partial "head.html" . }}

<body class="bg-stone-50 scroll-smooth focus:scroll-auto">
  <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-0 focus:z-50 focus:px-4 focus:py-2 focus:bg-indigo-600 focus:text-white">Skip to main content</a>
  {{ partial "nav.html" . }}
  <main id="main-content" class="max-w-screen-lg px-4 py-8 mx-auto">
    <div class="max-auto text-center">
      <h1 class="page-title text-center">{{.Title}}</h1>
    </div>
    <section id="wrapper">
      <div class="container max-w-screen-md mx-auto justify-center">
        <div class="grid md:grid-cols-8 md:gap-1 justify-center">
          <div class="md:col-start-2 md:col-span-3 prose mb-3 md:mb-0">
            <address class="font-cabin not-italic">
              <!-- <strong>Twitter/X</strong>: <a href="https://twitter.com/germansave" target="_blank" rel="noopener" class="a-hov">germansave</a><br> -->
              <strong>BlueSky</strong>: <a href="https://bsky.app/profile/savcisens.com" target="_blank" rel="noopener" class="a-hov">savcisens.com</a><br>
              <strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/germans-savcisens/" target="_blank" rel="noopener" class="a-hov">Germans Savcisens</a><br>
              <strong>Google Scholar</strong>: <a href="https://scholar.google.com/citations?user=60I1M-oAAAAJ&amp;hl=en" target="_blank" rel="noopener" class="a-hov">Germans Savcisens</a><br>
              <strong>ResearchGate</strong>: <a href="https://www.researchgate.net/profile/Germans_Savcisens2" target="_blank" rel="noopener" class="a-hov">Germans Savcisens</a><br>
              <strong>GitHub</strong>: <a href="https://github.com/carlomarxdk" target="_blank" rel="noopener" class="a-hov">carlomarxdk</a><br>
              <strong>ORCID</strong>: <a href="https://orcid.org/0000-0002-5811-3230" target="_blank" rel="noopener" class="a-hov">0000-0002-5811-3230</a><br>
              <strong>Email</strong>: <a href="mailto:germans@savcisens.com" class="a-hov">germans@savcisens.com</a><br>
            </address>
          </div>
          <div class="md:col-span-3 font-cabin">
            <address class="not-italic"><strong>Network Science Institute</strong><br>
              Northeastern University<br>
              177 Huntington Ave.<br>
              Boston, Massachusetts 02115<br>
              USA</address>
          </div>
        </div>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}

  {{ partial "js.html" . }}
</body>

</html>

<!-- <p><strong>Network Science Institute</strong></br>
  Northeastern University </br>
  177 Huntington Ave. </br>
  Boston, Massachusetts 02115 </br>
  USA</p>
</div>
</div>
</div>
</div>
<div class="column">
<div class="card">
<header class="card-header">
  <p class="card-header-title mb-0 has-text-centered">Socials</p>
</header>
<div class="card-content">
<div class="content">
  <p>
  Twitter/X: <a href="https://twitter.com/germansave">germansave</a></br>
  LinkedIn: <a href="https://www.linkedin.com/in/germans-savcisens/">Germans Savcisens</a></br>
  Google Scholar: <a href="https://scholar.google.com/citations?user=60I1M-oAAAAJ&amp;hl=en">Germans Savcisens</a></br>
  ResearchGate: <a href="https://www.researchgate.net/profile/Germans_Savcisens2">Germans Savcisens</a></br>
  GitHub: <a href="https://github.com/carlomarxdk">carlomarxdk</a></br>
  ORCID: <a href="https://orcid.org/0000-0002-5811-3230">0000-0002-5811-3230</a></br>
  email: <a href="mailto:germans@savcisens.com">germans@savcisens.com</a></br>
      </ul> -->