{{ partial "head.html" . }}

<body class="bg-stone-50 scroll-smooth focus:scroll-auto">
    {{ partial "nav.html" . }}
    <div class="max-w-screen-lg px-4 py-8 mx-auto">
        <div class="max-auto text-center">
            <h1 class="page-title text-center">{{.Title}}</h1>
        </div>
        <section id="wrapper">
            {{ .Content }}
            {{ partial "publications/pub-list.html" . }}
        </section>
        {{ partial "footer.html" . }}
    </div>

    {{ partial "js.html" . }}
</body>

</html>